<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<table id="zbody" bgcolor="#CCCCCC" cellspacing="0" cellpadding="0" border="0" >
		<tr>
			<td>
			<table id="zoutside" width="550" bgcolor="#FFFFFF" style="margin:14px; border: 1px #999999 dashed;">
				<tr>
					<td width="420" style="padding:5px; vertical-align: top;" valign="top"><h1 style="color: #e4993e; font-size: 1.75em; margin-top: 3px; margin-bottom: 3px;">Today is Your Event!</h1></td>
					<td width="120" align="right" style="padding:5px;"> <%= image_tag 'SYW_logo.png', :width=>111, :height=>139 %> </td>
				</tr>
				<tr>
					<td colspan="2" style="padding: 5px">
					<p style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: .875em; padding: 5px; margin: 0px 0px 5px 0px; line-height: 125%; ">
						We just wanted to share our wish that you have a great event today! We'd love to hear any feedback about it that you'd be willing to share with us. 
					<p style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: .875em; padding: 5px; margin: 0px 0px 5px 0px; line-height: 125%; ">
						Don't forget: you can visit your event dashboard and print out the guest list. This can help you keep track of attendance, and also help you give thanks to guests that provided a contribution for your child and charity!
					</p>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding: 10px; background-color: #DDDDDD;" >
					<p style="font-size: 11px; color: #444444; padding: 20px;">
						Do not reply to this message. For technical support please contact <%= link_to 'info@shareyourwish.com','mailto:info@shareyourwish.com'%>
					</td>
				</tr>
			</table></td>
		</tr>
	</table>
</html>
