<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<table id="zbody" bgcolor="#CCCCCC" cellspacing="0" cellpadding="0" border="0" >
		<tr>
			<td>
			<table id="zoutside" width="550" bgcolor="#FFFFFF" style="margin:14px; border: 1px #999999 dashed;">
				<tr>
					<td width="420" style="padding:5px; vertical-align: top;" valign="top"><h1 style="color: #e4993e; font-size: 1.75em; margin-top: 3px; margin-bottom: 3px;">Event Update Alert!</h1></td>
					<td width="120" align="right" style="padding:5px;"> <%= image_tag 'SYW_logo.png', :width=>111, :height=>139 %> </td>
				</tr>
				<tr>
					<td colspan="2" style="padding: 5px">
					<p style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: .875em; padding: 5px; margin: 0px 0px 5px 0px; line-height: 125%; ">
						The Gift Fund for your event is ready to be released. Shortly, we will issue an Amazon.com gift card for the full amount of the Gift Fund as of today. The card will be sent to this email address by Amazon.com so keep an eye out for it. If you do not receive the card by early afternoon, please contact us.
						<p style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: .875em; padding: 5px; margin: 0px 0px 5px 0px; line-height: 125%; ">
						Note: After your event is over, we'll issue another Amazon.com gift card with the remaining balance of the Gift Fund in case you receive additional contributions from your guests between now and the event date.
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding: 10px; background-color: #DDDDDD;" >
					<p style="font-size: 11px; color: #444444; padding: 20px;">
						Do not reply to this message. For technical support please contact <%= link_to 'info@shareyourwish.com','mailto:info@shareyourwish.com'%>
					</td>
				</tr>
			</table></td>
		</tr>
	</table>
</html>
