<div id="event-faq-container">
	<div class="event-faq-Q">Is my contribution tax deductible?</div>
	<div class="event-faq-A">No it is not. Your contribution will be split between a gift for the child and a charitable donation, but the charitable donation will be made by the child in the child's name.</div>
	
	<div class="event-faq-Q">Is my contribution secure?</div>
	<div class="event-faq-A">Yes. We use the same technology and practices of any major website to protect the security of transactions made through ShareYourWish.com and to ensure the privacy of information stored on our servers.</div>
	
	<div class="event-faq-Q">How much should I contribute?</div>
	<div class="event-faq-A">Consider spending the same amount as you normally would have on any physical gift(s), including tax or shipping costs. But for the same expense you'll be helping a child have a valuable experience, you'll benefit a charity, you'll save time shopping and you'll be promoting a saner alternative for kids' birthday parties.</div>
	
	<div class="event-faq-Q">Are there any fees in addition to my contribution?</div>
	<div class="event-faq-A">You will not be charged any additional amount beyond the amount you pledge, excluding any add-on items which might incur sales tax. ShareYourWish will deduct from your contribution a transaction fee to support our business operations (currently $2.50), before allocating the remaining amount to the Gift Fund and the Donation Fund. </div>
	
</div>