<% title "Share Your Wish Page Template" %>

<% content_for :outside do %>

<%= render :partial => 'page_head'%>
      
	<div class="col-single box-shadow-reg">
		Class = <b>col-single</b>
	</div>
	<p>
	<div class="col-single-large-margin box-shadow-reg">
		Class = <b>col-single-large-margin</b>
	</div>
	<p>
	<div class="clearfloat "></div>
	
	<div class="col-one-third box-shadow-reg">
		Class = <b>col-one-third</b>
	</div>
	<div class="col-two-thirds box-shadow-reg">
		Class = <b>col-two-thirds</b>
	</div>
	<p>
	<div class="clearfloat"></div>
	<div class="col-one-half box-shadow-reg">
		Class = <b>col-one-half</b>
	</div>
	<div class="col-one-half box-shadow-reg">
		Class = <b>col-one-half</b>
	</div>
	
	
<% end %>