<% title "Error: internal_server_error (500) :: ShareYourWish" %>

<% content_for :outside do %>

<%= render 'page_head' %>

<div class="col-single-large-margin box-shadow-reg">
	<h1>Error: internal_server_error (500)</h1>
	<p>
		Oops, it looks like the kids have been playing around with the server cables again. We've been notified and
		we're looking into the problem.
	</p>
</div>

<% end %>
