<% title "Error: not_found (404) :: ShareYourWish" %>

<% content_for :outside do %>

<%= render 'page_head' %>

<div class="col-single-large-margin box-shadow-reg">
	<h1>Error: not_found (404)</h1>
	<p>
		Sorry, that page doesn't seem to exist
	</p>
</div>

<% end %>
