<% title "Error: unauthorized (401) :: ShareYourWish" %>

<% content_for :outside do %>

<%= render 'page_head' %>

<div class="col-single-large-margin box-shadow-reg">
	<h1>Error: unauthorized (401)</h1>
	<p>
		Sorry, that page is inaccessible and no alternate option was found
	</p>
</div>

<% end %>
