<% title "Contact Us :: ShareYourWish" %>
<% content_for :outside do %>
  <%= render :partial => 'page_head'%>
  <div class="col-single-large-margin box-shadow-reg">
    <h1>Contact Us</h1>
    <p><strong>Hey Look to the Right --> There is a Feedback link hanging on the side of the page especially for Bugs and Recommendations.</strong>
    <p>We welcome your feedback, questions and comments
    <%= render 'form' %>
  </div>
<% end %>
