<% title "FAQ - ShareYourWish" %>

<% content_for :outside do %>

<%= render :partial => 'page_head'%>
      

	<div class="col-single-large-margin box-shadow-reg">

		<div class="faq-column">
			<h2>Event Hosts</h2>
			<div class="faq-q">What will this cost?</div>
			<div class="faq-a">There is no cost for the host - events are free to create. Each guest is charged a small fee (currently $2.00) to help maintain ShareYourWish.com</div>

			<div class="faq-q">How does my child get their birthday gift?</div>
			<div class="faq-a">Seven (7) days prior to the event, all contributions allocated to the child's Gift Fund are released to event host in the form of an Amazon Gift Card. The host may then purchase one or more meaningful gifts.</div>
			
			<div class="faq-q">What happens if a guest makes contributions after I got the Amazon gift card?</div>
			<div class="faq-a">We'll send you another Amazon gift card with the remaining balance left in the Gift Fund three days after the event is over.</div>
			
			<div class="faq-q">At what point is the event closed from receiving any further contributions?</div>
			<div class="faq-a">Sometimes a guest learns about ShareYourWish and decides to make a contribution even after attending an event. So, we leave events open to further contributions for three (3) days after the event date. At that point we close the event, and release the remaining Gift Fund and Donation Fund.</div>
			
		<div class="faq-q">Is the Donation Fund we give to our selected charities tax deductible?</div>
		<div class="faq-a">Yes it is. The donation is not merely made in the name of your child, in fact s/he is the direct donor. Your child should understand that s/he has chosen to share some portion of their birthday gifts, provided to them by guests in the form of a contribution. And because they have done so, they (and you) receive the recognition and the tax deduction. </div>
		
		<div class="faq-q">Can I get an email alert whenever a guest RSVP's or makes a contribution?</div>
		<div class="faq-a">Use the event Dashboard instead. It's a much better way to keep up to date. At a glance, you can see a running log of all guest activity. For each individual guest you can see whether they have been sent an invitation, visited the Event page, RSVP'd, made a contribution, or left a personal message for you. The majority of our users have told us that too many emails would just clutter their Inbox.</div>
		
		</div>
		
		<div class="faq-column">		
		<h2>Guests</h2>
			<div class="faq-q">As a guest, is my contribution anonymous?</div>
			<div class="faq-a">By default the amount of all contributions made by guests is 'undisclosed', but a guest may choose to disclose the amount</div>
				
			<div class="faq-q">Is my contribution tax deductible?</div>
			<div class="faq-a">No it is not. Your contribution will be split between a gift for the child and a charitable donation, but the charitable donation will be made by the child in the child's name.</div>

			<div class="faq-q">Is my contribution secure?</div>
			<div class="faq-a">Yes. We use the same technology and practices of any major website to protect the security of transactions made through ShareYourWish.com and to ensure the privacy of information stored on our servers.</div>
		</div>
				
		<div class="faq-column">
			<h2>Charities</h2>
			<div class="faq-q">How do I become a featured charity?</div>
			<div class="faq-a">Please <%=link_to 'contact us', '/contact-us' %> to discuss.</div>
		</div>

	</div>

	
<% end %>

