<H1>For Our Community</h1>
<p>
	This is a central place to share experiences, tips, tools and techniques that help children learn about Charity.
<p>
	You'll also find ideas, inspiration and advice on how to get the most from your ShareYourWish event. 
<p>
	And finally, we occasionally share our own blog posts to keep you informed about our progress and the change we're having on kids and the world we share.
<p>
	
	<span style="font-size: 12px;">
	<%= link_to image_tag('feed_button.png') + ' Atom/RSS Feed', feed_path %>
	</span>