<% title "Browse Charities - ShareYourWish" %>

<% content_for :outside do %>

	<%= render :partial => 'page_head'%>

	<div class="col-single-large-margin box-shadow-reg">
		<h1>Browse Charities</h1>
	</div>

	
	
<% end %>