<div id="social-login" class="center-contents">
	<div id="facebook-login">
		<%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), :alt=>"login with Facebook", :tabindex => 10  %>
	</div><br />
<!-- 
	<div id="twitter-login">
		<%= link_to "Login with Twitter", user_omniauth_authorize_path(:twitter), :alt=>"login with Twitter", :tabindex => 11 %>
	</div><br />
	<div id="google-login">
		<%= link_to "Login in with Google", user_omniauth_authorize_path(:google_oauth2), :alt=>"login with Google", :tabindex => 12 %>
	</div><br />
-->
	<center>
		<span class="login-divider"></span> OR <span class="login-divider"></span>
	</center>
</div>