<div class="how-step-row">
	<div class="how-step-num">
		1
	</div>
	<div class="how-step-description">
		<span class="how-step-title">CREATE YOUR EVENT PAGE</span>
		<ul>
			<li>
				Register your child’s birthday party details
			<li>
				Personalize the event page – this is what guests will see
		</ul>
	</div>
	<div class="how-step-image">
		<img alt="Step1" src="/images/how-it-works/step1.jpg" />
	</div>
</div>

<div class="how-step-row">
	<div class="how-step-num">
		2
	</div>
	<div class="how-step-description">
		<span class="how-step-title">SELECT A CHARITY TO SUPPORT</span>
		<ul>
			<li>
				Choose up to three (3) charities - get your child involved!
			<li>
				Choose a Donation Level - the percent of your child's gifts that they will share with charity
		</ul>
	</div>
	<div class="how-step-image">
		<img alt="Step2" src="/images/how-it-works/step2.jpg" />
	</div>
</div>

<div class="how-step-row">
	<div class="how-step-num">
		3
	</div>
	<div class="how-step-description">
		<span class="how-step-title">INVITE GUESTS</span>
		<ul>
			<li>
				Guests receive an email invitation
			<li>
				Guests are directed to your child’s event page, where they can RSVP to the party as well as contribute to your child’s gift
		</ul>
	</div>
	<div class="how-step-image">
		<img alt="Step3" src="/images/how-it-works/step3.jpg" />
	</div>
</div>

<div class="how-step-row">
	<div class="how-step-num">
		4
	</div>
	<div class="how-step-description">
		<span class="how-step-title">SHARE YOUR GIFT</span>
		<ul>
			<li>
				All contributions made through ShareYourWish are shared, based on your donation level, between the Gift Fund and the Donation Fund
			<li>
				You will use the Gift Fund to purchase your child’s birthday gift(s) from our partner Amazon.com
			<li>
				We will process the Donation Fund to your selected charities, in your child’s name

		</ul>
	</div>
	<div class="how-step-image">
		<img alt="Step4" src="/images/how-it-works/step4.jpg" />
	</div>
</div>

<div class="how-step-row">
	<div class="how-step-num">
		5
	</div>
	<div class="how-step-description">
		<span class="how-step-title">HAVE A GREAT PARTY</span>
		<ul>
			<li>
				Bring the special gift(s) and our Reward Certificate, for display, to the party
			<li>
				Add Goodies for extra learning and celebration

		</ul>
	</div>
	<div class="how-step-image">
		<img alt="Step5" src="/images/how-it-works/step5.jpg" />
	</div>
</div>

<div class="how-step-row">
	<div class="how-step-num">
		6
	</div>
	<div class="how-step-description">
		<span class="how-step-title">MAKE THE WORLD A LITTLE BETTER</span>
		<ul>
			<li>
				Share your experience and tips to help the Share Your Wish community
			</li>
			<li>
				Inspire friends and family to Share Their Wish
			</li>
		</ul>
	</div>
	<div class="how-step-image">
		<img alt="Step6" src="/images/how-it-works/step6.jpg" />
	</div>
</div>