<div class="mixed_popup hidden">
	<%= link_to image_tag('modal_close.png'), 'javascript:void(0);', :class => 'close_popup_top_button fr', :title => 'Close' %>
	<div id="popup_container"></div>
	<div class="close">
		<input type="button" value="Close" class="close_popup_button" />
	</div>
</div>
