<div id="pagehead">
	<div class="logo">
		<%= link_to image_tag('SYW_logo.png'), root_url %>
	</div>


	<div class="logo-title">
		<%= link_to image_tag('SYW_logo_text.png'), root_url %>
		<div class="page-title">
			<h1>Share Your Wish - Simplify and improve the gift giving at kids' birthday parties while teaching children the virtues of charity</h1>
			<h1>Teach, Share, Inspire!</h1>
		</div>
	</div>


	<%= render 'nav' %>

	<div id="main-menu-container">
		<div id="landing-title-nudge">
			<div id="landing-big-text">Simplifying Your Child's Birthday</div>
			<h1>While Teaching the Virtues of Charity</h1>
		</div>
	</div>
	
	<div class="clearfloat"></div>
			
			
</div>


