<% content_for :outside do %>

	<%= render :partial => 'page_head'%>
	
	<h2>Reset Session</h2>
                  
	<p>The session has been reset
	<p>Navigate to a different page to see change

<% end %>