$main_color: #E4993E;
$bg_color: #FFFFFF;

/* personalizable by client */
.event-page-bg {
	background: $bg_color;
}
.event-page-title {
  color: $main_color;
  font-size: 3em;
  font-family: arial, helvetica, sans-serif;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 10px;
  display: block;
  width: 850px;
  text-align: left;
}
.event-page-section-title {
  color: $main_color;
  font-size: 1.5em;
  margin-bottom: 5px;
}
.event-page-section-details {
  padding-left: 20px;
  margin-bottom: 30px ;
}
.event-page-section-details.no-bottom {
  margin-bottom: 0px ;
}
