$main_color: #C93EE4;
$bg_color: #66DDFF;

/* personalizable by client */
.event-page-bg {
	background: $bg_color;
}
.event-page-title {
  color: $main_color;
  font-size: 1.5em;
  font-family: arial, helvetica, sans-serif;
  margin-top: 23px;
  margin-bottom: 23px;
  margin-left: 20px;
  display: block;
  width: 850px;
  text-align: left;
}
.event-page-section-title {
  color: $main_color;
  font-size: 1em;
  margin-bottom: 5px;
}
.event-page-section-details {
  padding-left: 30px;
  margin-bottom: 30px ;
}
.event-page-section-details.no-bottom {
  margin-bottom: 0px ;
}