$main_color: #E43E3E;
$bg_color: #DDFFDD;

/* personalizable by client */
.event-page-bg {
	background: $bg_color;
}
.event-page-title {
  color: $main_color;
  font-size: 2em;
  font-family: arial, helvetica, sans-serif;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 15px;
  display: block;
  width: 800px;
  text-align: left;
}
.event-page-section-title {
  color: $main_color;
  font-size: 1em;
  margin-bottom: 7px;
}
.event-page-section-details {
  padding-left: 30px;
  margin-bottom: 20px ;
}
.event-page-section-details.no-bottom {
  margin-bottom: 0px ;
}