$main_color: #66E43E;
$bg_color: #DDDDFF;

/* personalizable by client */
.event-page-bg {
	background: $bg_color;
}
.event-page-title {
  color: $main_color;
  font-size: 5em;
  font-family: arial, helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  display: block;
  width: 830px;
  text-align: left;
}
.event-page-section-title {
  color: $main_color;
  font-size: 1.8em;
  margin-bottom: 15px;
}
.event-page-section-details {
  padding-left: 25px;
  margin-bottom: 10px ;
}
.event-page-section-details.no-bottom {
  margin-bottom: 0px ;
}